@import url('https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet');

/** Colors **/
$primary: #b2ab2e;
$secondary: #ed413e;
$black: #180c0c;
$pink: #efb786;
$violet: #483948;
$white: #ffffff;
$gray: #cfcfcf;

/** Fonts **/
$font-family: 'Segoe UI', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;

/** Font sizes **/
$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-extra-large: 100px;
